/* Add application styles & imports to this file! */
@import '~@ionic/angular/css/ionic.bundle.css';

.titulo {
  text-align: center;
}

/* font-family: 'Albert Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Passion One', cursive; */

:root {
  --ion-font-family: 'Passion One', cursive;

  /* --ion-toolbar-background: red; */
  --ion-toolbar-color: white;
  --ion-background-color: linear-gradient(180deg, #29065a, 0%, #7314fd 100%);

  /* barra inferior */

  --ion-tab-bar-background: #290065a;
  --ion-tab-bar-color: rgb(187, 147, 147);
  --ion-tab-bar-color-selected: #fafafa;
}
